@model IEnumerable<prog7311poeTask2.Models.ProductModel>
<div class="jumbotron" style="background-color:lemonchiffon">
    <h2>Accessories</h2>
    <h3>This is all the Accessories and random things we sell</h3>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <img class="profilePicture" src="@item.ProductPic" alt="@item.ProductPic" />
            </td>
            <td>
                <button class="btn btn-link">
                    @Html.ActionLink("Add to Cart", "Cart", new { id = item.PId })
                </button>
            </td>

        </tr>

    }

</table>
<div>

    <p>
        <h4>click the button below to go back to the homepage</h4>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")';return false;">Home</button>

    </p>
</div>